
.wd-kanbas-navigator {
    background-color:black;
    color:red;
    width:80px;
    height:100%;
    padding-top:10px;
    position: sticky;
    top: 0rem;
}

.wd-kanbas-navigator li {
    padding-left: 0%;
    list-style-type: none;
    margin-bottom:8px;
    padding-bottom: 5px;
    
}
.wd-selected-item {
    box-sizing: border-box;
    position: relative;
    text-align: center;
    display: block;
    border-style: none;
    background-color:white;
    text-decoration: none;
    color: red;
}

.wd-not-selected-item {
    box-sizing: border-box;
    position: relative;
    text-align: center;
    display: block;
    border-style: none;
    background-color:black;
    text-decoration: none;
    font-size:medium;
    color: white;
}

.wd-kanbas-navigator i {
    color: red;
    font-size: 28px;
}

.wd-account-icon i {
    color:gray;
    font-size:28px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
    color: white;
}

.wd-small-nav a,
.wd-small-nav a:hover {
    color:red;
    text-decoration: none;

}

.wd-small-nav i {
    font-size: 36px;
}

.wd-small-nav label {
    font-size: 18px;
    padding-left: 15px;
}

.wd-small-nav-account i {
    color: gray;
    font-size: 36px;
}

.wd-profile-navigator {
    display: block;
    list-style-type: none;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 72px;
    padding-right: 12px;
    text-decoration: none;
    width: 195px;
    height: fit-content;
    position: sticky;
    top: 1rem;
  }

ul.override-bs {
    padding: 0px;
}

.wd-profile-navigator li {
    padding-left: 0%;
    list-style-type: none;
    padding-left: 6px;
}

.wd-profile-navigator a {
    text-decoration: none;
    color: #a32424;
}

.wd-kanbas-nav-small {
    color: white;
    background-color: black;
    padding: 16px;
    margin-bottom: 24px;
    min-height: 45px;
    align-items: center;
    position: sticky;
    left: 0rem; 
    right: 0rem;
  }
  
  .wd-nav-small-text {
    margin: auto;
  }